body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}
h1{
  color: white;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: overlay;
  font-size: 18px;
  border-radius: 300px;
  margin-left: 42.5%;
  margin-right: 42.5%;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  cursor: pointer;
  background-image: linear-gradient(45deg,
  grey,grey,grey,grey,grey,lightcyan,skyblue,cyan,cyan,cyan,
  aqua,aqua,#114477,#114477,#114477,#114477,#114477);
  background-size: 500%;
  background-position: left;
  transition: background-position 1s;
}
h1:hover{
  background-position: right;
  color: lightcyan;
}

button{
  background-image: linear-gradient(45deg,#114477,#114477,#114477,
  #114477,#114477,#114477,#27ae60,aqua,lightcyan,
  #5588AA,#5588AA,#5588AA,#5588AA,#5588AA);
  background-position: left;
  background-size: 330%;
  transition: background-position 1s;
  color:white;
  cursor: pointer;
}
button:hover{
  color: white;
  background-position: right;
  cursor: pointer;
}
nav a:hover{
color:white;
}
a:hover{
color: #114477;
cursor: pointer;
}


header {
  background-image: url(Screenshot\ \(24\).png);
  background-repeat: no-repeat;
  background-color: #666;
  background-size: cover;
  background-position: center;
  padding-top: 7%;
  padding-bottom: 14%;
  padding-right: 10%;
  padding-left: 10%;
  height: fit-content;
  color: #666;
  text-align: center;
  align-content: center;
}


nav {
  background-color: #114477;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
footer {
  background-color: #114477;
  color: #fff;
  padding: 20px;
  text-align: center;}
  
.products, .contact, .about {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #336699;
  }


  .container button{
    background-image: linear-gradient(45deg,#114477,#114477,#114477,
    #114477,#114477,#114477,#27ae60,aqua,lightcyan,
    #5588AA,#5588AA,#5588AA,#5588AA,#5588AA);
    background-position: left;
    background-size: 330%;
    transition: background-position 1s;
    color:white;
    cursor: pointer;
    font-size: 15px;
  }
  .container button:hover{
    color: black;
    background-position: right;
    cursor: pointer;}

  .used{
    display: inline-block;
    width: 49%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .new{
    display: inline-block;
    width: 49%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  span {
    margin: 5%;
  }
 .call{
  text-align: center;
 }
  .contact-info {
    max-height: 100px;
  }
  .contact-info div{
    display: inline-flex;
    margin: auto;
  
  }
  #icon {
    height: 20px;
  
  }
  .icons div{
    display: inline-block;
    text-align: center;
    margin-left: auto;
  }
  .icon p{
    height: 10px;
  }